footer {
  background-color: $colorverde;
  // padding: 40px 0;
  width: auto;
  position: inherit;
  margin-top: auto;
  margin-right: 0;
  img {
    width: 100%;
  }
  div img {
    text-align: center;
  }
  .row {
    margin-right: 0;
  }
}
