@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
@import "nav";
@import "footer";
@import "body";
@import "contacto";

/*-------------------VARIABLES-------------------*/
$mapa: (
  h1: 3rem,
  h2: 2rem,
  h3: 1rem,
);

$colorverde: rgb(157, 244, 161);

$h1: map-get($map:$mapa,$key:h1);
$h2: map-get($map:$mapa,$key:h2);
$h3: map-get($map:$mapa,$key:h3);

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/*-------------------ETIQUETAS-------------------*/

h1 {
  font-size: $h1;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: $h2;
  margin-top: 1rem;
}

p {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/*-------------------CLASES-------------------*/

.button_font_size {
  font-size: 2rem;
}

.textCenter {
  text-align: center;
}

.textBold {
  font-weight: 500;
}

.imagenAdaptable {
  padding: 10px;
  margin: 20px;
  width: 50%;
  height: 30rem;
  justify-content: left;
}

.pelisMargenes {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.peliculasBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  gap: 40px;
  flex-wrap: wrap;
}

.contactoBox {
  margin-left: 1rem;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.googleMap {
  margin-left: 2rem;
}

.imgFooter {
  display: flex;
  justify-content: space-around;
}

.flexWrap {
  flex-wrap: wrap;
}

.border {
  border: 10px solid red;
}

.noticiasBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  gap: 40px;
  flex-wrap: wrap;
}


/*-------------------ANIMACIONES-------------------*/

/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  &:hover, &:focus, &:active {
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
}