@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap");
nav {
  background-color: rgb(157, 244, 161);
  width: auto;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
  margin-left: 15px;
}
nav ul li {
  font-size: 3.5rem;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: rgb(157, 244, 161);
  padding: 40px 0;
  width: auto;
  margin-top: auto;
}
footer div img {
  text-align: center;
}

body {
  background-image: url(../img/fondogeneral.png);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
}

/*-------------------VARIABLES-------------------*/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/*-------------------ETIQUETAS-------------------*/
h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-top: 1rem;
}

p {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/*-------------------GRIDS-------------------*/
/*---index_peliculas---*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  flex-wrap: wrap;
}

/*---contactos---*/
.grid-container-contacto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.contact1 {
  grid-column: 1/span 2;
}

.contact2 {
  grid-row: 2/3;
}

/*-------------------CLASES-------------------*/
.textCenter {
  text-align: center;
}

.textBold {
  font-weight: 500;
}

.imagenAdaptable {
  padding: 10px;
  margin: 20px;
  width: 50%;
  height: 30rem;
  justify-content: left;
}

.pelisMargenes {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.peliculasBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  gap: 40px;
  flex-wrap: wrap;
}

.contactoBox {
  margin-left: 1rem;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.googleMap {
  margin-left: 2rem;
}

.imgFooter {
  display: flex;
  justify-content: space-around;
}

.flexWrap {
  flex-wrap: wrap;
}

.border {
  border-style: solid;
  border-color: rgb(232, 227, 210);
  border-width: 5px;
}

.noticiasBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  gap: 40px;
  flex-wrap: wrap;
}

/*-------------------ANIMACIONES-------------------*/
/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}/*# sourceMappingURL=style.css.map */